<div th:replace="/commons/header.html"></div>
<div th:replace="/commons/sidebar.html"></div>
<div class="col-12 col-lg-9 col-xl-10 vh-100 content">
	<div th:replace="/commons/navbar.html"></div>
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white mb-4">
					<li class="breadcrumb-item"><a href="/admin/dash"><i class="feather-home"></i></a></li>
					<li class="breadcrumb-item"><span th:text="${tit}"></span>Edit
						Teacher Info</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center">
						<h4 class="mb-0">
							<i class="feather-edit text-primary mr-2"></i>Edit Teacher Info
						</h4>
						<a href="/admin/teacher-list" class="btn btn-outline-primary">
							<i class="feather-list"></i>
						</a>
					</div>
					<hr>
					<form th:action="@{/admin/edit-list}" th:each="li: ${list}" method="post">
						<div class="row mb-3 d-flex justify-content-center align-items-center">
							<div class="col-12 col-md-6">
								<label for="role"><i class="fas fa-star mr-1 text-primary"></i>Choose Role: </label>
								<select id="role" name="role" class="custom-select">
									<option value="ROLE_TEACHER" selected>Teacher</option>
									<option value="ROLE_CLASSROASTER">ClassRoaster</option>
								</select>
							</div>
							<div class="col-12 col-md-6">
								<label for="role"><i class="fas fa-star mr-1 text-primary"></i>Choose Semesters </label>
								<select class="custom-select" id="dow" name="semester">
									<option th:each=" s : ${sem}" th:value="${s.getSemesterName()}"
										th:text="${s.getSemesterName()}"></option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="name"><i class="fas fa-user mr-2 text-primary"></i>Name: </label> <input
										type="text" class="form-control" id="name" th:name="name"
										th:value="${li.getName()}" disabled />
								</div>
								<div class="form-group">
									<label for="nrc"><i class="fas fa-id-card mr-1 text-primary"></i>NRC: </label>
									<input type="text" class="form-control" id="nrc" th:name="nrcNo"
										th:value="${li.getNrcNo()}" disabled />
								</div>
								<div class="form-group">
									<label for="phone"><i class="fas fa-phone mr-2 text-primary"></i>Phone: </label>
									<input type="text" class="form-control" id="phone" th:name="phoneNo"
										th:value="${li.getPhoneNo()}" placeholder="09XXXXXXXX"
										pattern="(09|\b959)[0-9]{7,9}"
										title="Phone number should start with 09 or 959 and contain 9-11 digits (e.g., 0971234567)"
										required />
								</div>
								<div class="form-group">
									<!-- 	<label for="hg"><i
										class="fas fa-award mr-2 text-primary"></i>Highest Degree: </label> <input
										type="text" class="form-control" id="hg"
										th:name="highestDegree" th:value="${li.getHighestDegree()}" />
								 -->
									<label class="" for="hd"><i class="fas fa-award text-primary mr-1"></i>Highest
										Degree:</label>
									<select class="custom-select" id="hd" name="highestDegree">
										<option value="Ph.D(IT)">Ph.D(IT)</option>
										<option value="Ph.D(CHD)">Ph.D(CHD)</option>
										<option value="M.C.Sc">M.C.Sc</option>
										<option value="M.C.Tech">M.C.Tech</option>
										<option value="MISC">MISC</option>
									</select>
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="email"><i class="fas fa-envelope mr-2 text-primary"></i>Email: </label>
									<input type="email" class="form-control" id="email" th:name="email"
										th:value="${li.getEmail()}" placeholder="user@example.com"
										pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
										title="Please enter a valid email address (e.g., user@example.com)." required />

								</div>
								<div class="form-group">
									<label for="bod"><i class="fas fa-birthday-cake mr-1 text-primary"></i>Birthday:
									</label>
									<input type="date" class="form-control" id="bod" th:name="dob"
										th:value="${li.getDob()}" disabled />
								</div>
								<div class="form-group">
									<!--  <label for="phone"><i
										class="fas fa-university mr-2 text-primary"></i>Rank: </label> <input
										type="text" class="form-control" id="phone"
										th:name="teacherRank" th:value="${li.getTeacherRank()}" />
										-->
									<label class="" for="rank"><i class="fas fa-university text-primary mr-1"></i> Rank:
									</label> <select class="custom-select" id="rank" name="teacherRank">
										<option value="Rector">Rector</option>
										<option value="Pro_Rector">Pro_Rector</option>
										<option value="Professor">Professor</option>
										<option value="Associate_Professor">Associate_Professor</option>
										<option value="Lecturer">Lecturer</option>
										<option value="Assistant_Lecturer">Assistant_Lecturer</option>
										<option value="Tutor">Tutor</option>
									</select>

								</div>
								<div class="form-group">
									<!-- <label for="hg"><i
										class="fas fa-building mr-2 text-primary"></i>Faculty: </label> <input
										type="text" class="form-control" id="hg" th:name="faculty"
										th:value="${li.getFaculty()}" /> -->
									<label class="" for="faculty"><i class="fas fa-building text-primary mr-1"></i>
										Faculty:
									</label> <select class="custom-select" id="faculty" name="faculty">
										<option value="Faculty of Computer Science">Faculty of Computer Science
										</option>
										<option value="Faculty of Computer Science & Technology">Faculty of Computer
											Science & Technology</option>
										<option value="Faculty of Information Science">Faculty of Information
											Science</option>
										<option value="Faculty of Computing">Faculty of Computing</option>
										<option value="Department of Language">Department of Language</option>
										<option value="Department of Natural Science">Department of Natural Science
										</option>
										<option value="Department of Information Technology Supporting &
																																	Maintenance">Department of Information Technology Supporting &
											Maintenance</option>
									</select>

								</div>
								<input type="text" class="form-control" th:name="id" th:value="${li.getId()}" hidden />
							</div>
						</div>
						<hr>

						<div class="row d-flex justify-content-end">
							<button type="button" class="btn btn-outline-danger mr-3"
								th:onclick="|window.location.href='/admin/teacher-list'|">Cancel</button>
							<button type="submit" class="btn btn-outline-primary float-right">Update</button>

						</div>

					</form>
				</div>
			</div>
		</div>
		<div th:replace="/commons/footer.html"></div>