<div th:replace="/commons/header.html"></div>
<div th:replace="/commons/sidebar.html"></div>
<div class="col-12 col-lg-9 col-xl-10 vh-100 content">
	<div th:replace="/commons/navbar.html"></div>
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white mb-4">
					<li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather-home"></i></a></li>
					<li class="breadcrumb-item"><span th:text="${tit}"></span>Edit
						Student</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center">
						<h4 class="mb-0">
							<i class="feather-edit text-primary mr-2"></i>Edit Student Info
						</h4>
						<a href="/admin/student-list" class="btn btn-outline-primary">
							<i class="feather-list"></i>
						</a>
					</div>
					<hr>
					<form th:action="@{/admin/stEdit-list}" th:each="li: ${list}" method="post">

						<div class="row">
							<div class="col-12 col-md-6">

								<div class="form-group">
									<label for="hg"><i class="fas fa-award mr-2 text-primary"></i>YKPT NO: </label>
									<input type="text" class="form-control" id="hg" th:name="rollNo"
										th:value="${li.getRollNo()}" disabled />
								</div>

								<div class="form-group">
									<label for="nrc"><i class="fas fa-id-card mr-1 text-primary"></i>NRC NO: </label>
									<input type="text" class="form-control" id="nrc" th:name="nrcNo"
										th:value="${li.getNrcNo()}" disabled />
								</div>

								<div class="form-group">
									<label for="phone"><i class="fas fa-university mr-2 text-primary"></i>Semester:
									</label> <input type="text" class="form-control" id="phone" th:name="semester"
										th:value="${li.getSemester()}" disabled="disabled" />

									<!--		<select class="custom-select" id="dow" th:name="semester">
										<option th:value="Sem-I" th:text="Sem-I"></option>
										<option th:value="Sem-II" th:text="Sem-II"></option>
										<option th:value="Sem-III" th:text="Sem-III"></option>
										<option th:value="Sem-IV" th:text="Sem-IV"></option>
										<option th:value="Sem-V" th:text="Sem-V"></option>
										<option th:value="Sem-VI" th:text="Sem-VI"></option>
										<option th:value="Sem-VII" th:text="Sem-VII"></option>
										<option th:value="Sem-VIII" th:text="Sem-VIII"></option>
										<option th:value="Sem-IX" th:text="Sem-IX"></option>
										<option th:value="${li.getSemester()}"
											th:text="${li.getSemester()}" selected></option>
									</select>
									 -->
								</div>
								<div class="form-group">
									<label for="phone"><i class="fas fa-phone mr-2 text-primary"></i>Phone: </label>
									<input type="text" class="form-control" id="phone" th:name="phoneNo"
										th:value="${li.getPhoneNo()}" />
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="name"><i class="fas fa-user mr-2 text-primary"></i>Name: </label> <input
										type="text" class="form-control" id="name" th:name="name"
										th:value="${li.getName()}" disabled />
								</div>
								<div class="form-group">
									<label for="bod"><i class="fas fa-birthday-cake mr-1 text-primary"></i>Birthday:
									</label>
									<input type="date" class="form-control" id="bod" th:name="dob"
										th:value="${li.getDob()}" disabled />
								</div>
								<div class="form-group">
									<label for="email"><i class="fas fa-envelope mr-2 text-primary"></i>Email: </label>
									<input type="text" class="form-control" id="email" th:name="email"
										th:value="${li.getEmail()}" />
								</div>

								<div class="form-group">
									<label for="hg"><i class="fas fa-building mr-2 text-primary"></i>Major: </label>
									<select class="custom-select" id="dow" th:name="major">
										<option th:value="BIS" th:text="BIS"></option>
										<option th:value="SE" th:text="SE"></option>
										<option th:value="KE" th:text="KE"></option>
										<option th:value="CSF" th:text="CSF"></option>
										<option th:value="CT-Network" th:text="CT-NetWork"></option>
										<option th:value="CT-Embedded" th:text="CT-Embedded"></option>
										<option th:value="${li.getMajor()}" th:text="${li.getMajor()}" selected>
										</option>
									</select>
								</div>
								<input type="text" class="form-control" th:name="id" th:value="${li.getId()}" hidden />
							</div>
						</div>
						<hr>

						<div class="row d-flex justify-content-end">
								<button type="button" class="btn btn-outline-danger mr-3"
									th:onclick="|window.location.href='/admin/student-list'|">Cancel</button>
								<button type="submit" class="btn btn-outline-primary float-right">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="/commons/footer.html"></div>